jakarta-ee/jax-ws/jax-ws-client/src/main/resources/DailyQuotesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService" name="DailyQuotesService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService"
                        schemaLocation="DailyQuotesServiceSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="GetDailyQuoteById">
        <part name="parameters" element="tns:GetDailyQuoteById"/>
    </message>
    <message name="GetDailyQuoteByIdResponse">
        <part name="parameters" element="tns:GetDailyQuoteByIdResponse"/>
    </message>
    <message name="CreateDailyQuote">
        <part name="parameters" element="tns:CreateDailyQuote"/>
    </message>
    <message name="CreateDailyQuoteResponse">
        <part name="parameters" element="tns:CreateDailyQuoteResponse"/>
    </message>
    <message name="InputValidationException">
        <part name="fault" element="tns:InputValidationFault"/>
    </message>
    <message name="GetAllDailyQuotes">
        <part name="parameters" element="tns:GetAllDailyQuotes"/>
    </message>
    <message name="GetAllDailyQuotesResponse">
        <part name="parameters" element="tns:GetAllDailyQuotesResponse"/>
    </message>
    <message name="DeleteDailyQuoteById">
        <part name="parameters" element="tns:DeleteDailyQuoteById"/>
    </message>
    <message name="DeleteDailyQuoteByIdResponse">
        <part name="parameters" element="tns:DeleteDailyQuoteByIdResponse"/>
    </message>
    <portType name="DailyQuotesWebService">
        <operation name="GetDailyQuoteById">
            <input wsam:Action="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService/DailyQuotesWebService/GetDailyQuoteByIdRequest"
                   message="tns:GetDailyQuoteById"/>
            <output wsam:Action="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService/DailyQuotesWebService/GetDailyQuoteByIdResponse"
                    message="tns:GetDailyQuoteByIdResponse"/>
        </operation>
        <operation name="CreateDailyQuote">
            <input wsam:Action="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService/DailyQuotesWebService/CreateDailyQuoteRequest"
                   message="tns:CreateDailyQuote"/>
            <output wsam:Action="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService/DailyQuotesWebService/CreateDailyQuoteResponse"
                    message="tns:CreateDailyQuoteResponse"/>
            <fault message="tns:InputValidationException" name="InputValidationException"
                   wsam:Action="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService/DailyQuotesWebService/CreateDailyQuote/Fault/InputValidationException"/>
        </operation>
        <operation name="GetAllDailyQuotes">
            <input wsam:Action="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService/DailyQuotesWebService/GetAllDailyQuotesRequest"
                   message="tns:GetAllDailyQuotes"/>
            <output wsam:Action="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService/DailyQuotesWebService/GetAllDailyQuotesResponse"
                    message="tns:GetAllDailyQuotesResponse"/>
        </operation>
        <operation name="DeleteDailyQuoteById">
            <input wsam:Action="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService/DailyQuotesWebService/DeleteDailyQuoteByIdRequest"
                   message="tns:DeleteDailyQuoteById"/>
            <output wsam:Action="http://www.jaxws.codelearninghub.bastex.com/DailyQuotesService/DailyQuotesWebService/DeleteDailyQuoteByIdResponse"
                    message="tns:DeleteDailyQuoteByIdResponse"/>
        </operation>
    </portType>
    <binding name="DailyQuotesPortBinding" type="tns:DailyQuotesWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="GetDailyQuoteById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateDailyQuote">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InputValidationException">
                <soap:fault name="InputValidationException" use="literal"/>
            </fault>
        </operation>
        <operation name="GetAllDailyQuotes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteDailyQuoteById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="DailyQuotesService">
        <port name="DailyQuotesPort" binding="tns:DailyQuotesPortBinding">
            <soap:address location="http://localhost:8080/DailyQuotesService"/>
        </port>
    </service>
</definitions>